<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.pokerica"
        version   = "0.0.1">

    <name>Pokerica (beta.01)</name>

    <description>
        Party Mix Pokerica, description it is.
    </description>

    <author href="https://pokerica.github.io" email="lazy@pmp.com">
        Polar Elephant Inc.
    </author>

    <content src="index.html" />
    
    <preference name="DisallowOverscroll" value="true" />
    <!-- <preference name="phonegap-version"       value="cli-6.0.0" /> -->
        
    <!--gap:plugin name="cordova-plugin-wakeuptimer-jk" source="npm" /> 
    <gap:plugin name="cordova-plugin-powermanagement" source="npm" /-->        
    <plugin name="cordova-plugin-whitelist" source="npm" /> 
        
    <access origin="*" />
    <allow-intent href="*" />  
    <allow-navigation href="*" />

    <platform name="android">
        <allow-intent href="market:*" /> 
            
        <!--preference name="ShowTitle" value="false"/>             
        <preference name="KeepRunning" value="true"/--> 
        <preference name="AndroidLaunchMode" value="singleTask"/>    
            
        <!--preference name="Fullscreen" value="true"/-->
        <preference name="SetFullscreen" value="true"/>            
    </platform>
        
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>
