* {
  box-sizing:    border-box;
  font:          18px "Open Sans", sans-serif;
}
form input {
  border:        1px solid grey;
  margin-bottom: 10px;
  padding:       0px 2px 0px 2px;
}
#mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    z-index: 98;  
}
#popupbox {
  margin: 50px 50px; 
  padding: 10px 10px 5px 10px;
  position: absolute;
  background: LightGrey;
  border: solid White 1px;
  z-index: 99;
  visibility: hidden;
}
.ord {
  background:    #f3f3f3;
  border:        1px solid black;
  border-radius: 5px;
  box-shadow:    2px 2px grey;
  padding:       10px 15px 7px;
  color:         black;
  display:       inline-block;
  text-align:    center;
  text-shadow:   none;
}
.ord:hover {
  background-color: white
}
.ord:active {
  box-shadow: none;
}
.mnu {
  background:    #000000; 
  border:        2px solid #777777;
  border-radius: 0px;
  padding:       5px 10px; 
  color:         #ffffff; 
  display:       inline-block; 
  text-align:    center; 
  text-shadow:   none; 
  box-shadow:    none;
}
.mnu:hover {
  background-color: grey;
}
.mnu:active {
  color: black;
  background-color: lightgrey;
}
table.minimalistBlack {
  width: 100%;
  border-collapse: collapse;
}
table.minimalistBlack th{
  background:  lightgrey; 
  padding:     2px 10px 2px 10px; 
  border:      1px solid grey;
  
  font-size:   15px;
  /*font-weight: bold;*/
  text-align:  center;
}
table.minimalistBlack td {
  padding:     1px 10px 1px 10px;
  border:      1px solid lightgrey;   
}
